@using AnimePlace.Models.ViewModels
@model ProfileViewModel


<div class="profile-banner"></div>

<div class="profile-container">
    
    
    <div class="list-banner">
        <div class="watching-list">
            <div class="content">
            <h5>Watching animes</h5>
            @if (Model.CurrentlyWatchingListView.Count == 0)
            {
                <h6>Nothing here, start adding animes</h6>
            }
            else{
            <div class="row">
                
               
                    @foreach (var watchingAnime in @Model.CurrentlyWatchingListView)
                    {
                        <div class="col-sm-2">
                            <a asp-controller="Animes" asp-action="GetById" asp-route-id="@watchingAnime.AnimeId"><img src="~/img/Animes/@(watchingAnime.AnimeImageUrl).jpg" alt="@watchingAnime.AnimeTitle" class="img-fluid all-anime-img" /></a>
                            <p style="margin-top: 0.5rem;margin-bottom: 1rem; font-size: 1rem; color: whitesmoke;">@watchingAnime.AnimeTitle</p>
                    </div>
                       
                    }
                
                
            </div>
            }
        </div>
        </div>
        </div>
    
    <div class="list-banner">
        <div class="completed-list">
            <div class="content">
            <h5>Completed animes</h5>
            @if (Model.CompletedWatchListView.Count == 0)
            {
                <h6>Nothing here, start adding animes</h6>
            }
            else{
            <div class="row">
                @foreach(var completedAnime in @Model.CompletedWatchListView)
                {
                        <div class="col-sm-2">
                            <a asp-controller="Animes" asp-action="GetById" asp-route-id="@completedAnime.AnimeId"><img src="~/img/Animes/@(completedAnime.AnimeImageUrl).jpg" alt="@completedAnime.AnimeTitle" class="img-fluid all-anime-img" /></a>
                            <p style="margin-top: 0.5rem;margin-bottom: 1rem; font-size: 1rem; color: whitesmoke;">@completedAnime.AnimeTitle</p>
                    </div>
                }
            </div>
            }
        </div>
        </div>
        </div>

    <div class="list-banner">
        <div class="plantowatch-list">
            <div class="content">
            <h5>Plan to watch animes</h5>
            @if (Model.PlanToWatchListView.Count == 0)
            {
                <h6>Nothing here, start adding animes</h6>
            }
            else{
                <div class="row">
                @foreach(var planToWatchAnime in @Model.PlanToWatchListView)
                {
                    <div class="col-sm-2">
                            <a asp-controller="Animes" asp-action="GetById" asp-route-id="@planToWatchAnime.AnimeId"><img src="~/img/Animes/@(planToWatchAnime.AnimeImageUrl).jpg" alt="@planToWatchAnime.AnimeTitle" class="img-fluid all-anime-img" /></a>
                            <p style="margin-top: 0.5rem;margin-bottom: 1rem; font-size: 1rem; color: whitesmoke;">@planToWatchAnime.AnimeTitle</p>
                    </div>
                }
            </div>
            }
        </div>
        </div>
        </div>

    <div class="list-banner">
        <div class="favorite-animes">
            <div class="content">
            <h5>Favorite animes</h5>
            @if (Model.FavoriteAnimes.Count == 0)
            {
                <h6>Nothing here</h6>
            }
            else{
            <div class="row">
                @foreach(var favoriteAnime in @Model.FavoriteAnimes)
                {
                    <div class="col-sm-2">
                            <a asp-controller="Animes" asp-action="GetById" asp-route-id="@favoriteAnime.Title"><img src="~/img/Animes/@(favoriteAnime.ImageUrl).jpg" alt="@favoriteAnime.Title" class="img-fluid all-anime-img" /></a>
                            <p style="margin-top: 0.5rem;margin-bottom: 1rem; font-size: 1rem; color: whitesmoke;">@favoriteAnime.Title</p>
                    </div>
                }
            </div>
            }
        </div>
        </div>
    </div>

    <div class="list-banner">
        <div class="favorite-characters">
            <div class="content">
            <h5>Favorite characters</h5>
            @if (Model.FavoriteCharacters.Count == 0)
            {
                <h6>Nothing here</h6>
            }
            else{
            <div class="row">
                @foreach(var favoriteCharacter in @Model.FavoriteCharacters)
                {
                    <div class="col-sm-2">
                            <a asp-controller="Animes" asp-action="GetById" asp-route-id="@favoriteCharacter.Id"><img src="~/img/Characters/@(favoriteCharacter.ImageUrl).jpg" alt="@favoriteCharacter.Name" class="img-fluid anime-list-img" /></a>
                            <p style="margin-top: 0.5rem;margin-bottom: 1rem; font-size: 1rem; color: whitesmoke;">@favoriteCharacter.Name</p>
                    </div>
                }
            </div>
            }
        </div>
        </div>
    </div>
</div>
    @*<div class="profile-shorcuts"><p>Overview</p>
        <p>Anime list</p>
        <p>Favorites</p>
        <p>Statistics</p>
        <p>Reviews</p></div>*@
        

    @*<div class="profile-header">
        <img src="./img//Staff/default-profile-img.jpg" class="profile-picture-img"/>
        <div class="anime-overview">
            <p>Anime details</p>
            <div class="profile-anime-list-details">Watching: @Model.CurrentlyWatchingListView.Count</div>
            <div class="profile-anime-list-details">Completed: @Model.CompletedWatchListView.Count</div>
            <div class="profile-anime-list-details">Plan to watch: @Model.PlanToWatchListView.Count</div>
            <div class="profile-anime-list-details">Total Entries: @(@Model.CurrentlyWatchingListView.Count + @Model.CompletedWatchListView.Count + @Model.PlanToWatchListView.Count)</div>
            <div class="profile-anime-list-details">Episodes:
                
            </div>
        </div>*@
        
        @*<div class="latest-activities">
            
            @foreach(var anime in @Model.CompletedWatchListView)
            {
                <div class="anime-activity">
                    <a asp-controller="Animes" asp-action="GetById" asp-route-id="@anime.AnimeId"><img src="~/img/Animes/@(anime.AnimeImageUrl).jpg" alt="@anime.AnimeTitle" class="anime-activity-img"></a>
                    
                    
                    <a asp-controller="Animes" asp-action="GetById" asp-route-id="@anime.AnimeId">@anime.AnimeTitle</a>
                </div>
            }
        </div>*@


    




@*<hr />
Completed Animes
<ul>
    @foreach(var completed in @Model.CompletedWatchListView)
    {
        <li>@completed.AnimeTitle</li>
    }
    
</ul>
*@