@using AnimePlace.Models.ViewModels
@model AnimesListViewModel
@{
    ViewData["Title"] = "All Anime";

}
<section class="all-animes">
    <div class="content">
    
        <div class="row g-2">

            @foreach (var anime in this.Model.Animes)
            {
                <div class="col-lg-2" style="margin-bottom: 1.5rem;">


                    <a asp-action="GetById" asp-route-id="@anime.Id">
                        <img src="~/img/Animes/@(anime.ImageUrl).jpg" alt="@anime.Name" class="img-fluid all-anime-img">
                        </a>
                        <p style="margin-top: 0.5rem; font-size: 1rem;">@anime.Name</p>
                        @*<a asp-action="GetById" asp-route-id="@anime.Id" class="all-anime-list-item-name">@anime.Name</a>*@
                    
                </div>
            }
        
        </div>
    </div>
</section>